body{
    margin: 0px;
     background-color: rgb(245, 245, 245);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
}

.top_nav{
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #131313;
}

.top_nav a{
    padding: 10px 15px;
    text-decoration: none;
    color:#a9a9a9;
    font-weight: bold;
}

.top_nav a:hover{
    color: white;
}

.mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    column-gap: 2em;
    row-gap: 2em;
    padding: 10px 150px 10px 150px;
}

.card{
    background-color: white;
    padding: 70px 50px;
}

.card i{
    font-size: 55px;
    color: rgb(155, 3, 3,0.8);
}

.card h2,.card p{
    color: gray;
}

.card h2{
    font-weight: 100;
}

header, article{
    text-align: center;
}

header p{
    padding: 0 20%;
    font-weight: 200;
}

header h1{
    margin: 0;
    font-weight: lighter;
    font-size: 3em;
}

.outer{
     background-image:url("./head.jpg");
     width: 100%;
     height: 400px;
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
}

.inner{
    height: 100%;
    width: 100%;
    background-image:  linear-gradient(35deg, rgb(155, 3, 3) , black);
    opacity: 0.8;
    color: white;
     display: flex;
     justify-content: center;
     flex-direction: column;
}

article h1{
    margin-top: 100px;
    font-weight: lighter;
    font-size: 2em;
    color: gray;
}

.headGrid p{
    padding: 0 40vh;
    font-weight: 100;
    color: rgb(82, 82, 82);
}


@media screen and (max-width: 800px) {
  .mainGrid {
    grid-column: 1;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 2em;
    padding: 0px;
    margin: 5px 20px;
  }
}

@media screen and (max-width: 800px) {
  .card {   
    padding: 20px;
    margin: 2px ;
  }
}



@media screen and (max-width: 800px) {
  .headGrid p{   
    width: auto;
    align-content: left;
    padding:0;
  }
}

@media screen and (max-width: 800px) {
  header{   
      overflow: hidden;
    padding:0;
  }
}

